# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.5.Page-Pre-Rendering.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
